body {
  background: #008000;
}

li {
  background: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}

h1 {
  color: white;
}

#todos {
  z-index: 1;
  list-style: none;
  width: 600px;
  border-radius: 40px;
}

.overlay {
  opacity: 50%;
  background-color: grey;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 2;
  top: 0px;
  bottom:0px;
  left: 0px;
  right: 0px;
}

.confirm_prompt {
  z-index: 3;
  position: absolute;
  background-color: white;
  width: 500px;
  left: 20%;
  top: 20%;
  border-radius: 5px;
  padding: 10px;
}

.hide {
  display: none;
}

/*delete button styles*/
span.delete {
  width: 20px;
  height: 20px;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  transform: rotate(45deg);
  left: 623px;
  cursor: pointer;
}

span.delete:hover {
  width: 24px;
  height: 24px;
}

span.delete:before, span.delete:after {
  background: #ec5555;
  content: "";
  position: absolute;
}
span.delete:before {
  height: 3px;
  top: 50%;
  right: 0;
  left: 0;
  margin-top: -1px;
}
span.delete:after {
  width: 3px;
  left: 50%;
  top: 0;
  bottom: 0;
  margin-left: -1px;
}