body {
  background-color: #999900;
  display: flex;
  flex-flow: column;
  align-items: center;
}

h1 {
  text-align: center;
  color: white;
}

.programming_languages {
  width: 600px;
  box-sizing: border-box;
  background-color: white;
  padding: 20px 10px;
  border-radius: 4px;
}

a {
  color: white;
  background-color: #999900;
  text-decoration: none;
  padding: 1px 2px;
  border-radius: 4px;
}